{% extends "base.html" %}

{% block title %}パスワード再設定メール送信{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'Signin.css' %}">
<style>


  main{
    color: #5e5e5e;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
  margin-top: 200px;
  margin-bottom: 200px;
  }

</style>

<div class="body2">
  <div class="form-wrapper">

          <h1>パスワードを忘れた</h1>
<form method="post">
      <div class="form-item">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-panel">
    <input type="submit" class="button" value="メール送信"></input>
        </div>
      </div>
</form>
<div class="form-footer">
    <p><a href="../login/">戻る</a></p>
</div>
</div>


{% endblock %}
